<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Reservierungsseite für Vereine </title>
  <link rel="stylesheet" href="http://localhost:3000/static/stylesheetVereinverwaltung.css">
  <script src="https://kit.fontawesome.com/24eb8f8898.js" crossorigin="anonymous"></script>

</head>

<body>

  <header class="mainHeader" id="Start">
    <img class= "logo"src="http://localhost:3000/static/logo.png" alt="Hier sollte ein Logo Stehen">
    <flexitem>      
      <i class="fa-sharp fa-solid fa-user"></i>
      <p><%= account[0].first_name %></p></flexitem>
    <div class="mainHeader1">
      <h1>   <%= club[0].characteristic %></h1>
    </div>
    <flexitem>
      <a href="/logout"><button>Logout</button></a>
    </flexitem>
    <img class= "logo"src="http://localhost:3000/static/logo.png" alt="Hier sollte ein Logo Stehen">
  </header>

  <nav class="topnav" id="Top">
    <a class="active" href="/vereinverwaltung"> Vereinverwaltung</a>
    <a href="reservierung"> Reservierung</a>
    <a href="/adminpage"> Benutzerverwaltung</a>
  </nav>

  <section class="mainPart" id="clubinfo">
  <% if (club) { %>
    <form action="/saveclubsettings" method="post" enctype="multipart/form-data">
      <article class="clubForm">
      <div class="form-group">
        <label for="clubMainTitle">Vereinsname</label>
        <input type="text" id="clubMainTitle" name="clubMainTitle" value="<%= club[0].characteristic %>">
      </div>

      <div class="form-group">
        <label for="clubAddress">Postleitzahl</label>
        <input type="text" id="clubZip" name="clubZip" value="<%= club[1].characteristic %>">
      </div>

      <div class="form-group">
        <label for="clubAddress">Ort</label>
        <input type="text" id="clubStreet" name="clubStreet" value="<%= club[2].characteristic %>">
      </div>

      <div class="form-group">
        <label for="clubAddress">Straße</label>
        <input type="text" id="clubAddress" name="clubAddress" value="<%= club[3].characteristic %>">
      </div> 
      <div class="form-group">
        <label for="clubAddress">Hausnummer</label>
        <input type="text" id="clubHousenumber" name="clubHousenumber" value="<%= club[4].characteristic %>">
      </div>

    </article>

    <flexitem></flexitem>
    
    <article class="clubForm">
      <div class="form-group">
        <label for="clubEmail">Email-Adresse</label>
        <input type="text" id="clubEmail" name="clubEmail" value="<%= club[6].characteristic %>">
      </div>

      <div class="form-group">
        <label for="clubPhoneNumber">Telefonnummer</label>
        <input type="text" id="clubPhoneNumber" name="clubPhoneNumber" value="<%= club[5].characteristic %>">
      </div>

      <div class="form-group">
        <label for="clubCourts">max. buchbare Zeit (in Minuten):</label>
        <input type="text" id="clubCourts" name="clubCourts" value="<%= club[8].characteristic %>">
      </div>

      <!-- Image uploader -->
      <div class="form-group">
        <label for="clubImage" class="file-input-label">
          <span>Vereinslogo hochladen. (PNG/JPG only)</span>
        </label>
        <span class="browse-button" onclick="document.getElementById('clubImage').click()">Browse</span>
        <input type="file" id="clubImage" name="clubImage" accept=".png, .jpg" style="display: none;">
      </div>

      <br>


      <!-- Display error message if exists -->
      <% if (errorMessage) { %>
        <p style="color: red;">
          <%= errorMessage %>
        </p>
        <% } %>

          <button class="save-button" type="submit">Speichern</button>
    </form>
    </article>
    <% } else { %>
      <p>No club settings found.</p>
      <% } %>
  </section>




      <%- include('../../partials/footer'); %>
</body>

</html>