<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit User</title>
  <link rel="stylesheet" type="text/css" href="/css/pages/06 AdminHauptseite/edit.css"> />
</head>
<body>
  <h1>Benutzer bearbeiten</h1>
  <form action="/edit/<%= user.user_id %>" method="post">
    <label for="first_name">Vorname:</label>
    <input type="text" name="first_name" value="<%= user.first_name %>" required>
    <br>
    <label for="last_name">Nachname:</label>
    <input type="text" name="last_name" value="<%= user.last_name %>" required>
    <br>
    <label for="email_address">Email:</label>
    <input type="text" name="email_address" value="<%= user.email_address %>" required>
    <br>
    <label for="telephone_number">Telefonnummer:</label>
    <input type="text" name="telephone_number" value="<%= user.telephone_number %>" required>
    <br>
    <label for="role_id">RollenID: (1 = Admin | 2 = Platzwart | 3 = Mitglied | 4 = Gast | 6 = Neuer Benutzer)</label>
    <input type="text" name="role_id" value="<%= user.role_id %>" required>
    <br>
    <label for="street">Adresse</label>
    <input type="text" name="street" value="<%= user.street %>" required>
    <br>
    <label for="house_number">Hausnummer</label>
    <input type="text" name="house_number" value="<%= user.house_number %>" required>
    <br>
    <label for="zip_code">Postleitzahl</label>
    <input type="text" name="zip_code" value="<%= user.zip_code %>" required>
    <br>
    <label for="city">Stadt</label>
    <input type="text" name="city" value="<%= user.city %>" required>
    <br>
    <label for="country">Land</label>
    <input type="text" name="country" value="<%= user.country %>" required>
    <br>
    <button type="submit">Update</button>
  </form>
  <a href="/adminpage">Zurück zur Benutzerliste</a>
</body>
</html>
