<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Reservierungsseite für Vereine </title>
  <link rel="stylesheet" href="http://localhost:3000/static/stylesheetUsermanage.css">
  <script src="https://kit.fontawesome.com/24eb8f8898.js" crossorigin="anonymous"></script>

</head>

<body>

  <header class="mainHeader" id="Start">
    <img class= "logo"src="http://localhost:3000/static/logo.png" alt="Hier sollte ein Logo Stehen">
    <flexitem></flexitem>
    <div class="mainHeader1">
      <h1>   <%= club[0].characteristic %></h1>
      <p> <%= club[6].characteristic %></p>
    </div>
    <flexitem>
      <i class="fa-sharp fa-solid fa-user"></i>
      <p><%= account[0].first_name %></p>
    </flexitem>
    <img class= "logo"src="http://localhost:3000/static/logo.png" alt="Hier sollte ein Logo Stehen">
  </header>

  <nav class="topnav" id="Top">
    <a href="/vereinverwaltung"> Vereinverwaltung</a>
    <a href="reservierung"> Reservierung</a>
    <a class="active" href="/adminpage"> Benutzerverwaltung</a>
  </nav>


  <section class="mainPart" id="Account">
    <article>
      <!--<p>Test</p>!-->
    </article>
    <h1>Benutzerliste</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>Email</th>
          <th>Gesperrtdatum</th>
          <th>Mitgliedsdatum</th>
          <th>Telefonnummer</th>
          <th>RollenID</th>
          <th>Adresse</th>
          <th>Hausnummer</th>
          <th>Postleitzahl</th>
          <th>Stadt</th>
          <th>Land</th>
          <th>Aktionen</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user=> { %>
          <tr>
            <td>
              <%= user.first_name %>
            </td>
            <td>
              <%= user.last_name %>
            </td>
            <td>
              <%= user.email_address %>
            </td>
            <td>
              <%= user.blocked_date %>
            </td>
            <td>
              <%= user.member_date %>
            </td>
            <td>
              <%= user.telephone_number %>
            </td>
            <td>
              <%= user.role_id %>
            </td>
            <td>
              <%= user.street %>
            </td>
            <td>
              <%= user.house_number %>
            </td>
            <td>
              <%= user.zip_code %>
            </td>
            <td>
              <%= user.town %>
            </td>
            <td>
              <%= user.country %>
            </td>
            <td>
              <button>
                <a href="/edit/<%= user.user_id %>">Edit</a>
              </button>
              <button>
                <a href="/delete/<%= user.user_id %>">Delete</a>
              </button>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>

    <!-- Pagination links go here -->
    <div class="pagination">
      <% for (let i=1; i <=totalPages; i++) { %>
        <a href="/?page=<%= i %>" <%=currentPage==i ? 'class="active"' : '' %>><%= i %></a>
        <% } %>
    </div>

    <a href="/add">Benutzer hinzufügen</a>

</body>

</html>