<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Reservierungsseite für Vereine</title>

  <!-link rel="stylesheet" href="dist/calendar.js.css"--->
  <!-script src="dist/calendar.js"-->
  <!-script src="https://kit.fontawesome.com/24eb8f8898.js" crossorigin="anonymous"-->

  <link rel="stylesheet" href="/stylesheets/admin.css"/>


</head>

<body>
  <div class="row">
    <div class="column">
      <img src="/media/logo.png" width="150" height="150"="Hier sollte ein Logo Stehen" />
    </div>
    <div class="columnText">
      <h1>Reservierungssystem für Vereine</h1>
      <p>Platzhalter für Vereinsname</p>
      <p>Admin</p>
    </div>
    <div class="column">
      <img src="/media/logo.png" width="150" height="150"="Hier sollte ein Logo Stehen" />
    </div>
  </div>

  <div class="topnav">
    <a href="clubsettings.ejs">Vereinverwaltung</a>
    <a id="reservationBtn" href="#Reservierung">Reservierung</a>
    <a class="active" id="contactBtn" href="#Kontakt">Benutzerverwaltung</a>
  </div>

  <section class="mainPart" id="Account">

    <h1>User List</h1>
    <table border="1">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email Address</th>
          <th>Blocked Date</th>
          <th>Member Date</th>
          <th>Telephone Number</th>
          <th>Role ID</th>
          <th>Street Address</th>
          <th>House Number</th>
          <th>Zip Code</th>
          <th>Town</th>
          <th>Country</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user=> { %>
          <tr>
            <td>
              <%= user.first_name %>
            </td>
            <td>
              <%= user.last_name %>
            </td>
            <td>
              <%= user.email_address %>
            </td>
            <td>
              <%= user.blocked_date %>
            </td>
            <td>
              <%= user.member_date %>
            </td>
            <td>
              <%= user.telephone_number %>
            </td>
            <td>
              <%= user.role_id %>
            </td>
            <td>
              <%= user.street %>
            </td>
            <td>
              <%= user.house_number %>
            </td>
            <td>
              <%= user.zip_code %>
            </td>
            <td>
              <%= user.town %>
            </td>
            <td>
              <%= user.country %>
            </td>
            <td>
              <button>
                <a href="/edit/<%= user.user_id %>">Edit</a>
              </button>
              <button>
                <a href="/delete/<%= user.user_id %>">Delete</a>
              </button>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
    <a href="/add">Add User</a>
</body>

</html>